.bar.bar-balanced {
	background-color: #444;
	border-color: #AAA;
}

.tabs-balanced > .tabs, .tabs.tabs-balanced {
	background-color: #AAAAAA;
	border-color: #444;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}