# Ignorando el archivo settings.py
concesionario/concesionario/settings.py

# Ingnorando archivos  *.pyc 
*.pyc

# Ignorando carpetas y archivos de pycharm

*.iml
## Directory-based project format:
.idea/
concesionario/idea
## File-based project format:
*.ipr
*.iws

#Ignorando imagenes generadas por factory-boy
concesionario/media/vehiculos/*.jpg

#Ignorando Migraciones
concesionario/administracion/migrations/*.py
