{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <link href="{% static 'css/landing-page.css'  %}" rel="stylesheet">
<head>
<title> FreeMotors | Home :: Concecionario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>

    <link href="{% static 'css/pagina-web/style.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'js/pagina-web/jquery-1.9.0.min.js' %}"></script> 
    <script src="{% static 'js/pagina-web/jquery.openCarousel.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/pagina-web/easing.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/pagina-web/move-top.js' %}"></script>

    <script> 
        $(document).ready(function(){
            $( "login-bar" ).click(function() {
              $( this ).hide( "drop", { direction: "down" }, "slow" );
            });
        });
    </script>

</head>


<body>
    <div class="header">
            <div class="wrap">
                <div class="header_top">
                    <div class="logo">
                        <a href="index.html"><img src="{% static 'images/pagina-web/logo.png' %}" alt="" /></a>
                    </div>
                        <div class="header_top_right">
                            <div id="login-bar" class="banner-desc">
                                <a href={% url "paginaweb.views.login" %} >Login</a>
                            </div>
                    </div>
                 <div class="clear"></div>
            </div>     
            <div class="navigation">
                <a class="toggleMenu" href="#">Menu</a>
                    <ul class="navi">
                        <li>
                            <a href={% url "paginaweb.views.home" %}>Home</a>
                        </li>
                        <li>
                            <a href={% url "ventas.views.inicio" %}>Ventas</a>
                            <ul>
                                <li><a href={% url 'ventas.views.listarCarros' %}>Vender carros</a></li>
                                <li><a href={% url 'ventas.views.cotizarCarros' %}>Cotizar carros</a></li>
                                <li><a href={% url 'ventas.views.cotizacion' %}>Cotizacion</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href={% url "administracion.views.inicio" %}>Administracion</a>
                            <ul>
                                <li>
                                    <a href={% url "administracion.views.inicio" %}>Administracion de usuarios</a>
                                    <ul>
                                        <li><a href={% url 'administracion.views.crearUsuario' %}>Creacion de usuarios</a></li>
                                        <li><a href={% url 'administracion.views.modificarUsuario' %}>Modificar usuarios</a></li>
                                        <li><a href={% url 'administracion.views.eliminarUsuario' %}>Eliminar usuarios</a></li>
                                        <li><a href={% url 'administracion.views.recuperarUsuario' %}>Actualizar usuarios</a></li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href={% url "reportes.views.inicio" %}>Reportes</a>
                                    <ul>
                                        <li><a href={% url "reportes.views.usuarios" %}>Reporte de usuarios</a></li>
                                        <li><a href={% url "reportes.views.ventas" %}>Reporte de ventas</a></li>
                                        <li><a href={% url "reportes.views.inventario" %}>Reporte de vehiculos</a></li>
                                        <li><a href={% url "reportes.views.inicio" %}>Reporte ventas sucursales</a></li>
                                        <li><a href={% url "reportes.views.repuesto" %}>Reporte de repuestos</a></li>
                                        <li><a href={% url "reportes.views.reparaciones" %}>Reporte de reparaciones</a></li>
                                        <li><a href={% url "reportes.views.ordenes" %}>Reporte de Ordenes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href={% url "taller.views.inicio" %}>Taller</a>
                            <ul>
                                <li><a href={% url "taller.views.ingresarVehiculo" %}>Ingresar Vehiculo</a></li>
                                <li><a href={% url "taller.views.mostrarVehiculosTaller" %}>Vehiculos en reparacion</a></li>
                            </ul>
                        </li>
                        <li  class="test">
                            <a href={% url "clientes.views.inicio" %}>Cliente</a>
                        </li>

                    </ul>
                     <span class="left-ribbon"> </span> 
                     <span class="right-ribbon"> </span>    
            </div>

            {% block header %}

            {% endblock%}

        </div>
   </div>

   {% block contenido %}
   {% endblock%}

   <div class="footer">
      <div class="wrap">    
             <div class="copy_right">
                <p> FreeMotors S.A. Copy rights (2016). All rights Reseverd </p>
           </div>   
           <div class="footer-nav">
            <ul>
                <li><a href="#">Terms of Use</a> : </li>
                <li><a href="#">Privacy Policy</a> : </li>
                <li><a href="contact.html">Contact Us</a> : </li>
                <li><a href="#">Sitemap</a></li>
            </ul>
           </div>       
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {          
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>
    <a href="#" id="toTop"> </a>
    <script type="text/javascript" src="{% static 'js/pagina-web/navigation.js' %}"></script>
</body>

</html>
