<ion-view view-title="Concesionario" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="list card">
      <div class="col text-center">
        <h3 class="title">Bienvenido {{username}}!</h3>
        Elige una opcion para continuar.
        <br><br><br>   
      </div>

      <label class="item item-input">
          <input type="text" placeholder="Placa del vehiculo" ng-model="data.placa">
      </label>

      <label class="item item-input">
          <input type="text" placeholder="Codigo de orden" ng-model="data.codigo_orden">
      </label>
    </div>

      <button class="button button-block button-positive" ng-click="performValidRequest(data.placa,data.codigo_orden)">
        Send.
      </button>

      <!-- <button class="button button-full button-energized" ng-click="performUnauthorizedRequest()">
        Peticion sin autorizacion.
      </button>
      <button class="button button-full button-assertive" ng-click="performInvalidRequest()">
        Peticion sin autentificacion.
      </button> -->
      
      <br><br>
      {{response}}

    </div>
  </ion-content>
</ion-view>
