{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <link href="{% static 'css/landing-page.css'  %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/neon-core.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<head>
<title> FreeMotors | Home :: Concecionario</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-bootstrap/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-bootstrap/bootstrap-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-bootstrap/bootstrap-theme.min.css' %}" />

    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/pagina-web/style.css' %}" type="text/css">

    <!--Modulo-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/clientes/clientes.css' %}" />

</head>


<body>
    <div class="header">
            <div class="wrap">
                <div class="header_top">
                    <div class="logo">
                        <a href={% url "paginaweb.views.home" %}><img src="{% static 'images/pagina-web/logo.png' %}" alt="" /></a>
                    </div>
                        <div class="header_top_right">

                        </div>
                    <div class="clear"></div>
                </div>


                <div class="navigation">
                    <a class="toggleMenu" href="#">Menu</a>
                        <ul class="navi">
                            <li>
                                <a href="{% url "paginaweb.views.home" %}">Inicio</a>
                            </li>

                        </ul>

                         <span class="left-ribbon"> </span>
                         <span class="right-ribbon"> </span>
                </div>
            {% block header %}

            {% endblock%}

        </div>
   </div>
 <div class="main">
      <div class="content">
             
          <div class="content_bottom">
            <div class="wrap">
            {% for message in messages %}
    <div class="content_top">
    <div class="alert alert-{{ message.tags }}" style="text-align: center;">{{ message }}</div>
    </div>
{% endfor %}       
                <div class="content-bottom-left">
                    <div class="categories">
                           <ul>
                               <h3>Menu de navegación</h3>
                               <li>
                                    <a href={% url 'ventas.views.listarCarros' %}>
                                        <span>Vender vehículos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href={% url 'ventas.views.cotizarCarros' %}>
                                        <span>Cotizar vehículos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href={% url 'ventas.views.cotizacion' %}>
                                        <span>Cotización</span>
                                    </a>
                                </li>
                                <li>
                                    <a href={% url 'ventas.views.cliente' %}>
                                        <span>Registrar cliente</span>
                                    </a>
                                </li>
                                
                             </ul>
                        </div>      

                </div>
                
                <div class="content-bottom-right">
               {% block contenido %}
                {% endblock%}
                <br>
                <br>
                <br>
              </div>
              <div class="clear"></div>
           </div>
         </div>
      </div>
    </div>
   

   <div class="footer">
      <div class="wrap">    
             <div class="copy_right">
                <p> FreeMotors S.A. Copy rights (2016). All rights Reseverd </p>
           </div>   
           <div class="footer-nav">
            <ul>
                <li><a href="#">Terms of Use</a> : </li>
                <li><a href="#">Privacy Policy</a> : </li>
                <li><a href="contact.html">Contact Us</a> : </li>
                <li><a href="#">Sitemap</a></li>
            </ul>
           </div>       
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {          
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>
    <a href="#" id="toTop"> </a>
    <script type="text/javascript" src="{% static 'js/pagina-web/navigation.js' %}"></script>
</body>

</html>
