{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />

	<title> Reportes | Concesionario </title>


	<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-icons/entypo/css/entypo.css' %}" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/neon-core.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/neon-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/neon-forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,r-2.0.0,sc-1.4.0/datatables.min.css"/>
 
	<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,r-2.0.0,sc-1.4.0/datatables.min.js"></script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	{% block javas %}	{% endblock %}



	<!--[if lt IE 9]><script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body class="page-body  page-fade" data-url="http://neon.dev">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

	<div class="sidebar-menu">


		<header class="logo-env">

			<!-- logo -->
			<div class="logo">
				<a href="index.html">
					<img src="{% static 'images/logo@2x.png' %}" width="120" alt="" />
				</a>
			</div>

						<!-- logo collapse icon -->

			<div class="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
					<i class="entypo-menu"></i>
				</a>
			</div>



			<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
			<div class="sidebar-mobile-menu visible-xs">
				<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
					<i class="entypo-menu"></i>
				</a>
			</div>

		</header>






		<ul id="main-menu" class="">
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			<!-- Search Bar -->
			<li class="active opened active">
				<a href="index.html">
					<i class="entypo-gauge"></i>
					<span>Reportes</span>
				</a>
				<ul>
					<li class="active">

						<a href={% url "reportes.views.usuarios" %}>

							<span>Reporte de usuarios</span>
						</a>
					</li>
					<li class="active">
						<a href={% url "reportes.views.ventas" %}>
							<span>Reporte de ventas</span>
						</a>
					</li>
					<li class="active">
						<a href={% url "reportes.views.inventario" %}>
							<span>Reporte de vehiculos</span>
						</a>
					</li>
					<li class="active">
						<a href={% url "reportes.views.inicio" %}>
							<span>Reporte mensual de sucursales</span>
						</a>
					</li>

					<li class="active">
						<a href={% url "reportes.views.repuesto" %}>
							<span>Reporte de repuestos </span>
						</a>
					</li>

				</ul>
			</li>

		</ul>

	</div>



    <div class="main-content">

    	<!-- <div id="table_div"></div> -->

        <div class="row pull-right">

        <!-- Raw Links -->
        <div class="col-md-6 col-sm-4 clearfix hidden-xs">

            <ul class="list-inline links-list pull-right">

                <li class="sep"></li>

                <li>
                    <a href="{% url "logout" %}">
                        Log Out <i class="entypo-logout right"></i>
                    </a>
                </li>
            </ul>

        </div>

    </div>

        {% block contenido %} {% endblock%}


    </div>







</div>




    <link rel="stylesheet" type="text/css" href="{% static 'js/jvectormap/jquery-jvectormap-1.2.2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/rickshaw/rickshaw.min.css' %}" />
	<!-- Bottom Scripts -->
	<script src="{% static 'js/gsap/main-gsap.js' %}"></script>
	<script src="{% static 'js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/joinable.js' %}"></script>
	<script src="{% static 'js/resizeable.js' %}"></script>
	<script src="{% static 'js/neon-api.js' %}"></script>
	<script src="{% static 'js/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
	<script src="{% static 'js/jvectormap/jquery-jvectormap-europe-merc-en.js' %}"></script>
	<script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'js/rickshaw/vendor/d3.v3.js' %}"></script>
	<script src="{% static 'js/rickshaw/rickshaw.min.js' %}"></script>
	<script src="{% static 'js/raphael-min.js' %}"></script>
	<script src="{% static 'js/morris.min.js' %}"></script>
	<script src="{% static 'js/toastr.js' %}"></script>
	<script src="{% static 'js/neon-chat.js' %}"></script>
	<script src="{% static 'js/neon-custom.js' %}"></script>
	<script src="{% static 'js/neon-demo.js' %}"></script>

</body>
</html>
