{% extends 'reportes/base.html' %}

{% block javas %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#repuestos").DataTable({
      responsive:true,
      "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
    });
  });
</script>
{% endblock %}

{% block contenido %}
  <table id="repuestos" class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
      <tr>
        <td>Primer Nombre</td>
        <td>Cedula</td>
        <td>Username</td>
        <td>email</td>
        <td>telefono</td>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{usuario.first_name}}</td>
          <td>{{usuario.cedula}}</td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.telefono}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock%}