{% extends 'reportes/base.html' %}

{% block javas %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Vendedor", "Ventas", { role: "style" } ],

        {% for vendedor in vendedores %}
            
              [ '{{ vendedor.first_name }}',  parseInt('{{vendedor.num_ventas}}'), "#b87333"] 

              {% if not forloop.last %} 
              ,  
              {% endif %}
        {% endfor %}

      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Ventas de vehiculos ultimo mes",
        width: '100%',
        height: '800',
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>


{% endblock %}

{% block contenido %}

	<div id="columnchart_values" style="width: 90%; height: 100%;"></div>

{% endblock%}