{% extends 'administracion/base.html' %}
{% load staticfiles %}
{% block contenido %}
<h3>Creación de sucursal</h3>
        <div id="page-wrapper">

            <div class="container-fluid" id="contenedor">
            	<div class="row">
	<div class="col-md-12">
		
		<div class="panel panel-primary" data-collapsed="0">
		{% if user_form.errors %}
		    {% for field in user_form %}
		        {% for error in field.errors %}
		            <div class="alert alert-error">
		                <strong>{{field.name}} {{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in user_form.non_field_errors %}
		        <div class="alert alert-error">
		            <strong>{{field.name}} {{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}

		<br>
		
			<div class="panel-heading">
				<div class="panel-options">
					<a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<form action="" method="post" class="form-horizontal form-groups-bordered">{% csrf_token %}
	
					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Nombre</label>
						
						<div class="col-sm-5">
							{{ user_form.nombre }}							
						</div>

					</div>
					<br>
					<div class="form-group">
						<label for="field-3" class="col-sm-3 control-label">Dirección</label>
						
						<div class="col-sm-5">
							{{ user_form.direccion }}
						</div>
					</div>

					<input type="submit" class="btn btn-default btn-icon" value="Crear sucursal">
						
						<i class="entypo-user-add"></i>
					</input>
								
				</form>
				
			</div>
		
		</div>
	
	</div>
</div>

            </div>
            <!-- /.container-fluid -->

        </div>

{% endblock%}