{% extends 'administracion/base.html' %}
{% load staticfiles %}
{% block contenido %}

<h3>Modificación de vehículo ({{usernameText}})</h3>

        <div id="page-wrapper">

            <div class="container-fluid" id="contenedor">


<div class="row">
	<div class="col-md-12">
		

			
			<div class="panel-body">
				
				<form action="" method="post" role="form" class="form-horizontal form-groups-bordered">{% csrf_token %}
					
					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Modelo</label>
						
						<div class="col-sm-5">
							{{ user_form.modelo }}
						</div>
					</div>
					
					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Marca</label>
						
						<div class="col-sm-5">
							{{ user_form.marca }}
						</div>
					</div>

					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Descripcion</label>
						
						<div class="col-sm-5">
							{{ user_form.descripcion }}
						</div>
					</div>

					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Color</label>
						
						<div class="col-sm-5">
							{{ user_form.color }}
						</div>
					</div>

					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Cantidad</label>
						
						<div class="col-sm-5">
							{{ user_form.cantidad }}
						</div>
					</div>

					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Precio</label>
						
						<div class="col-sm-5">
							{{ user_form.precio_unidad }}
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-5 ">
							<input type="submit" class="mybutton" value="Actualizar sucursal">
											
							</input>
						</div>
					</div>
					
				</form>
				
			</div>
		
		</div>
	
	</div>
</div>
            </div>
            <!-- /.container-fluid -->

        </div>
<br />

</div>

	</div>


{% endblock%}