{% extends 'administracion/base.html' %}
{% load staticfiles %}
{% block contenido %}

			<h3>Usuario a modificar</h3>


        <div id="page-wrapper">

            <div class="container-fluid" id="contenedor">

<div class="row">
	<div class="col-md-12">
		
		<div class="panel panel-primary" data-collapsed="0">
		{% if user_form_aux.errors %}
		    {% for field in user_form_aux %}
		        {% for error in field.errors %}
		            <div class="alert alert-error">
		                <strong>{{field.name}} {{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in user_form_aux.non_field_errors %}
		        <div class="alert alert-error">
		            <strong>{{field.name}} {{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}
			
			<div class="panel-body">
				
				<form action="" method="post" role="form" class="form-horizontal form-groups-bordered">{% csrf_token %}
					<br>
					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Usuario</label>
						
						<div class="col-sm-5">
							{{ user_form_aux.usernameChoice }}
						</div>
						<br>

						<div class="col-sm-5 ">
						<input type="submit" class="btn btn-default btn-icon" value="Consultar">
						
						</input>
						</div>
					</div>
					
				</form>
				
			</div>
		
		</div>
	
	</div>
</div>

            </div>
            <!-- /.container-fluid -->

        </div>
<br />

</div>

	</div>


{% endblock%}