{% extends 'taller/base.html' %}

{% block contenido %}
        <div class="cuerpo" id="cuerpo">
            <div class="class="row pull-left izquierda" id="izquierda">
                 <div>
                    <h1>NUEVA ORDEN</h1>
                 </div>
                 {% if form.errors %}
                    <p style="color: red">
                        Por favor corrige lo siguiente:
                        {{form.errors}}
                    </p>
                 {% endif %}
                 <form id='formTallerEntrada'action="" method="post">{% csrf_token %}
                    <!--{{ form.as_p }} -->
                     {% csrf_token %}
                     <div class="form-group">
                       <label>Fecha Revisión</label>
                       {{form.fechaRevision}}
                    </div>

                     <div class="form-group">
                       {{form.estado.label}}
                       {{form.estado}}
                    </div>

                    <div class="form-group">
                       {{form.codigoVenta.label}}
                       {{form.codigoVenta}}
                        <button type="button" name="btBuscar">Buscar</button>
                    </div>

                    <div class="form-group">
                        {{form.jefeTaller.label}}
                        {{form.jefeTaller}}
                      <!--
                        <select name=selectJefeTaller>
                           {%for jefe in form.jefeTaller%}
                                <option name={{jefe.codigo_jefe_taller}}>{{jefe.first_name}}</option>
                           {%endfor%}
                        </select>
                        -->
                    </div>
                    <div class="form-group">
                       {{form.diagnostico.label}}
                    </div>
                    <div>
                        {{form.diagnostico}}
                    </div>

                     <input type="submit" name="submit" value="ingresar Vehiculo">
                 </form>
                <p sytle="color: blue">
                    {{mensaje}}
                </p>

            </div>
            <div class="row pull-center centro" id="centro">
                <p>algo centro</p>
            </div>
            <div class="row pull-right"id="derecha">
                <p>algo derecha</p>
            </div>
	    </div>
{% endblock%}

{% block popBuscar%}
    <div class="modal hide" id="contactModal">
        <form class="well" method="post" action="">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Codigo Venta </h3>
          </div>
          <div class="modal-body">
               {% csrf_token %}
                <div class="form-group">
                   {{form.buscarVenta.label}}
                   {{form.buscarVenta}}
                    <button type="button" name="btBuscarVentaCliente">Buscar</button>
                </div>
              <!-- {{form.as_p}}
          -->
          </div>
          <div class="modal-footer">
               <input name="cancel" class="btn" type="submit" value="Cerrar"/>
          </div>
        </form>
    </div>

{% endblock%}